{% extends 'chat/base.html' %}
{% block title %}Home Page{% endblock %}

{% block content %}

            {% if user.is_authenticated %}
            <h3>Welcome, {{ user.username }}</h1><br>
                <h3>Online Users:</h3>
                <ul>
                  {% for suser in online_users %}
                    <li><a href="{% url 'chat' suser.user.id user.id %}">{{ suser.user.username }}</a></li>
                  {% endfor %}
                </ul>
            {% endif %}
        </div>
      
{% endblock %}

